%h1 Listing items
= link_to 'Log out', '/logout'

= form_with(url: items_path, method: :get, local: true) do |f|
  %label{for: 'filter'} Status:
  %select{id: 'filter', name: 'filter'}
    %option{selected: 'selected', value: 3} - none -
    %option{value: 0} Open
    %option{value: 1} Fulfill
    %option{value: 2} Dismiss
  = f.submit('Filter')

= form_with(url: items_path, method: :get, local: true) do |f|
  %label{for: 'cat_filter'} Category:
  %select{id: 'cat_filter', name: 'cat_filter'}
    %option{selected: 'selected'} - none -
    %option{value: 'PC stuff'} PC stuff
    %option{value: 'Stationary'} Stationary
    %option{calue: 'Office Supplies'} Office Supplies
  = f.submit('Filter')

%table
  %tr
    %th Name
    %th Category
    %th Status
    %th Fulfill
    %th Dismiss
    %th Comment

  - @items.each do |item|
    %tr
      %td= item.name
      - if item.category == 'PC stuff'
        %td{ :style => 'color: purple;' }= item.category
      - elsif item.category == 'Stationary'
        %td{ :style => 'color: blue;' }= item.category
      - else
        %td{ :style => 'color: red;' }= item.category
      %td= item.status
      %td= button_to 'Fulfill', "items/fulfill?id=#{item.id}"
      %td= button_to 'Dissmis', "items/dismiss?id=#{item.id}"
      %td= link_to 'Comment', item_path(item)

= link_to 'Post new item', 'items/new'
