%h1 Listing items

-#= form_with(url: items_path, method: :get) do |f|
  -#%label{for: "filter"} Filter:
  -#%select{id: "filter", name: "filter"}
    -#%option{value: 'open'} Open
    -#%option{value: 'fulfill'} Fulfill
    -#%option{value: 'dismiss'} Dismiss
  -#= f.submit("Filter")

%table
  %tr
    %th Name
    %th Category
    %th Status
    %th Fulfill
    %th Dismiss
    %th Comment

  - @items.each do |item|
    %tr
    %td= item.name
    - if item.category == 'PC stuff'
      %td{ :style => "color: purple;" }= item.category
    - elsif item.category == 'Stationary'
      %td{ :style => "color: blue;" }= item.category
    - else
      %td{ :style => "color: red;" }= item.category
    %td= item.status
    %td= link_to 'Fulfill', "items/fulfill?id=#{item.id}"
    %td= link_to 'Dissmis', "items/dismiss?id=#{item.id}"
    %td= link_to 'Comment', '/show'

= link_to 'Post new item', 'items/new'
