%h1 Post a new item

= form_with model: Item.new do |form|
  = form.label :name
  = form.text_field :name
  = select(:item, :category, [['PC stuff', 'PC stuff'], ['Stationary', 'Stationary'], ['Office supplies', 'Office Supplies']])
  = form.submit "Post"

= link_to 'Back', items_path
