%h1 Post a new item

= form_with model: Item.new do |form|
  = form.label :name
  = form.text_field :name
  = form.label :category
  = form.text_field :category
  = form.submit "Post"

= link_to 'Back', root_url
